:root{
    --main-color: #e3e3e3;
    --secondary-color: #124559;
    --text-color: white;
    --clickable-link-color: #5c7aff;
}

.navText{
    text-align: center;
    font-size: xx-large;
    
}
/* Overriding bootstrap rounding with !important */
.rounded-pill{
    border-radius: 10px !important;
}


.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.cart{
    width: 55px;
    height: 34px;
}
.carouselBlock{
    height: 350px;/*Make the dimensions of the outter block*/
    width: 350px;
    border-radius: 10px;
    transition: transform 0.5s;
    position: relative;
 
}
.carouselBlock:hover{
    transform: scale(1.01);
}
.carouselBlockInner{
   
    height: 80%; /*This means 80% of the parent element's height. So carouselBlock's height*/
    width: 95%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);


    border-radius: 15px;
  
    -webkit-box-shadow: 0px 0px 29px -13px rgba(99,98,99,1);
    -moz-box-shadow: 0px 0px 29px -13px rgba(99,98,99,1);
    box-shadow: 0px 0px 29px -13px rgba(99,98,99,1);


    transition-property: box-shadow, -webkit-box-shadow, -moz-box-shadow;
    transition-duration: 1s;
}
.carouselBlockInner h1{
    color: black;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    margin-top: 15px;

 
}

.carouselBlockInner h2{
    color: black;
    margin: 0;
    position: absolute;

    text-align: right;
    top: 90%;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 15px;
    
    background: linear-gradient(90deg, rgb(96, 97, 162) 0%, rgb(33, 155, 255) 100%, rgb(71, 124, 173) 100%);
    
    color: #FFF !important;
    /* text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000; */
    
 
}

.carouselBlockInner:hover{
    -webkit-box-shadow: 0px 0px 29px 5px rgba(99,98,99,0.79);
    -moz-box-shadow: 0px 0px 29px 5px rgba(99,98,99,0.79);
    box-shadow: 0px 0px 29px 5px rgba(99,98,99,0.79);
}

.imageZoomResult{
    position: absolute;
    object-fit: fill;
    background-repeat: no-repeat;
    width: 90px !important;
    height: 90px;
    border: 2px solid gray;
    border-radius: 5px;

}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    /*set the size of the lens:*/
}

.hideZoom{
    opacity: 0;
}



.showZoom{
    opacity: 1;
}

.imageInBlock{
    height: 200px;
    width: 200px;
    object-fit: cover;
 

   

}
.fit-image{
    border: 2px solid black;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    object-fit: fill;
}

.productDescriptionDiv{
    text-align: left;
    overflow-wrap: break-word;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 10px;
}
.imageZoomContainer{
   
}
.productDescriptionDiv p{
    margin-left: 10px;
}
.cartDropContainer{
    width: 500px;
    position: absolute;
    left: 70%;
    z-index: 500;   
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 10px;
    background-color: beige;
}

.productImageBlock{
    
    border: 2px solid black;
    border-radius: 4px;
    width: 50px;
    height: 50px;
}

.productImageBlockImage{
    width: 100%;
    height: 100%;
    transition: opacity 0.2s;
}
.productImageBlockImage:hover{
    opacity: 0.5;
    cursor: pointer;
}



.productImageCarousel{
    width: 55% !important;
    padding: 2px;
    
    
}
.cartDropCollapsed{
    
    height: 0; 
    transition: max-height 2s cubic-bezier(.83,-0.04,.28,1.19);
    max-height: 0px;
    height: auto;

}

.cartDropCollapsed.open{
 
    max-height: 100vh;


}


.itemInCart{
    background: #91ceff;
    margin-bottom: 10px;
    height: 100px;
}



::-webkit-scrollbar {
    width: 11px;
    height: 11px;
   }
::-webkit-scrollbar-thumb {
background: linear-gradient(0deg, #ffffff 0%,#878787 64%);
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
background: linear-gradient(0deg, #ebebeb 14%,#757575 64%);
}
::-webkit-scrollbar-track{
background: #ffffff;
border-radius: 10px;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;}



/* display grid */

/* div[class="row"] {
    outline: 1px dotted rgba(0, 0, 0, 0.25);
}

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    outline: 1px dotted rgba(0, 0, 0, 0.5);
}  */
