{% extends 'store/layout.html' %}

{% load static %}

{% block body %}

<div class="container">
    <h1>Address Page</h1>
    {% for object in addressess %}
    <div class="border border-dark rounded">
        <ul>
            {% if object.default %}
            <li>
                <h5>(DEFAULT)</h5>
            </li>
            {% endif %}
            <li>
                <h5>{{ object.address.first_name }}</h5>
            </li>
            <li>
                <h5>{{ object.address.last_name}}</h5>
            </li>
            <li>
                <h5>{{ object.address.email }}</h5>
            </li>
            <li>
                <h5>{{ object.address.address }}</h5>
            </li>
            <li>
                <h5>{{ object.address.zip_code }}</h5>
            </li>
            {% if object.default == False %}
            <li>
                <a href="{% url 'accounts:setDefault' id=object.address.pk %}" class="btn btn-alert border-dark rounded">Set Default</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endfor %}

    <div>

        <a href="{% url 'accounts:newAddress' %}" class="btn border border-dark rounded">Add New Address</a>
    </div>
</div>


{% endblock %}

{% block script %}

{% endblock %}