{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                  <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>

                    <form class="form-signin" action="{% url 'accounts:login' %}" method="POST">{%csrf_token%}
                      <div class="form-label-group">
                        <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                        <label for="inputUsername">Username</label>
                      </div>
        
                      <div class="form-label-group">
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <label for="inputPassword">Password</label>
                      </div>
        
                      <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Remember password</label>
                      </div>
                      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                      <a class="btn btn-lg btn-primary btn-block text-uppercase" href="{% url 'accounts:register' %}">Sign Up</a>
                      <hr class="my-4">
                      <a href="accounts/google/login" class="btn btn-lg btn-google btn-block text-uppercase"  ><i class="fab fa-google mr-2"></i> Sign in with Google</a>
                      <!-- <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>


          {% if message %}
          <div>{{ message }}</div>
          {% endif %}
    </body>
</html>