{% extends "store/layout.html" %}
{% load static %}

{% block heading %}

{% endblock %}

{% block body %}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Product Page</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Product Page </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Product Page -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class="col-xl-5 col-lg-5 col-md-6 text-center">
                <div id="zoomContainer" class="imageZoomContainer">
                    <!-- This Div is just for the big image and the small zoomed in and also has inline styling to make it so the cursor vanishes when hovering -->
                    <div onmouseover="showZoom();" onmouseout="hideZoom();" style="display: inline; cursor: crosshair;">
                        <div class="imageZoomResult hideZoom" id="zoomResult"></div>
                        <img class="fit-image" id="productImage" src="{{images.0}}">
                    </div>
                    <!-- The mx-auto makes it so there is equal margin on both left and right side of carousel -->
                    <div class="owl-carousel owl-theme owl-loaded mt-3 mx-auto productImageCarousel">
                        {%for image in images%}
                        <div class="item productImageBlock">
                            <img onclick="imageZoom(this.src);" class="productImageBlockImage" src="{{image}}" alt="">
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 text-center">
                <div class="single-product-details">
                    <form method="GET" action="{% url 'cart:itemAdded' id=product.id  %}">
                    <h2>{{ product.name|capfirst }}</h2>
                    
                    <select name="options" class="form-control dropDown text-center mb-3" style="width:30%; border-radius: 5px;">
                        {% for object in variants %}
                        <option value="{{object.pk}}" class="mb-3">size: {{ object.size }} price: ${{ object.price }}</option>
                        {% endfor %}
                    </select>

                    <h5> <del>$ {{ product.price }}</del> ${{ product.price }}</h5>
                    <p class="available-stock"> Stock: {{product.stockAmount}}
                    <p>
                    <h4>Short Description:</h4>
                    <p>{{ product.description }}. </p>
                    


                        <div class="mb-3">
                            <label style="display:block;">Quantity</label>
                            <input class="text-center" style="width:30%; border-radius: 5px;" value="1" min="0"
                                max="{{product.stockAmount}}" type="number" name="quantity">
                        </div>



                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                {% if product.stockAmount == 0 %}
                                <input type="submit" class="btn hvr-hover" value="Add to Cart" style="color: #FFFFFF;"
                                    disabled>
                                {% else %}
                                <input type="submit" class="btn hvr-hover" value="Add to Cart" style="color: #FFFFFF;">
                                {% endif %}
                            </div>
                        </div>

                    </form>

                    <div class="add-to-btn">
                        <div class="add-comp">
                            <a class="btn hvr-hover" href="#"><i class="fas fa-heart"></i> Add to wishlist</a>
                            <a class="btn hvr-hover" href="#"><i class="fas fa-sync-alt"></i> Add to Compare</a>
                        </div>
                        <div class="share-bar">
                            <a class="btn hvr-hover" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                            <a class="btn hvr-hover" href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                            <a class="btn hvr-hover" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            <a class="btn hvr-hover" href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                            <a class="btn hvr-hover" href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    <h2>Product Reviews</h2>
                </div>
                <div class="card-body">
                    <div class="media mb-3">
                        <div class="mr-2">
                            <img class="rounded-circle border p-1"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160c142c97c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160c142c97c%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.5546875%22%20y%3D%2236.5%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Generic placeholder image">
                        </div>
                        <div class="media-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam
                                inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam
                                aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/18</small>
                        </div>
                    </div>
                    <hr>
                    <div class="media mb-3">
                        <div class="mr-2">
                            <img class="rounded-circle border p-1"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160c142c97c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160c142c97c%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.5546875%22%20y%3D%2236.5%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Generic placeholder image">
                        </div>
                        <div class="media-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam
                                inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam
                                aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/18</small>
                        </div>
                    </div>
                    <hr>
                    <div class="media mb-3">
                        <div class="mr-2">
                            <img class="rounded-circle border p-1"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160c142c97c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160c142c97c%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.5546875%22%20y%3D%2236.5%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Generic placeholder image">
                        </div>
                        <div class="media-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam
                                inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam
                                aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/18</small>
                        </div>
                    </div>
                    <hr>
                    <a href="#" class="btn hvr-hover">Leave a Review</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Page-->
{% endblock %}

{%block script%}
<script>
    $('.owl-carousel').owlCarousel({
        margin: 30,
        autoWidth: true,
        smartSpeed: 300,
        dots: false,

        nav: true,

    })
    document.body.onload = (() => initialize())
</script>
{%endblock script%}